body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.carousel-indicators {
  bottom: 0;
}
.carousel-indicators .active {
  background-color: #fff;
}
.carousel-indicators li {
  border-color: #ccc;
}
.sliders {
  width: auto !important;
  height: 500px !important;
}
.floats {
  float: left;
  text-align: center;
}
h3 {
  text-align: center;
}
.about {
  padding: 25px;
}
