body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.carousel-indicators {
  bottom: 0;
}
.carousel-indicators .active {
  background-color: #fff;
}
.carousel-indicators li {
  border-color: #ccc;
}
.carousel-inner .item .img {
    width: 100%;
}
